html {
    padding: 20px 40px;
    height: 100%;
}

body {
    height: 100%;
}

#__next {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header h1 {
    display: contents;
    float: left;
}

header .action-buttons {
    text-align: right;
}

.action-buttons {
    position: absolute;
    right: 40px;
    top: 20px;
}

.action-buttons > *:first-child {
    margin-right: 10px;
}

main {
    flex: 1;
}

.thick {
    border: 2px solid #3d3939;
    border-radius: 5px;
    opacity: 1;
}

footer > p {
    text-align: center;
}

#no_products {
    font-size: 25px;
    font-family: inherit;
}

.card {
    border: 2px solid #252020;
    padding: 15px;
}

.card-body {
    margin-left: 20px;
    padding: 0;
}

.card .form-check-input {
    float: left;
    margin: 0;
    border: 1px solid #252020;
}

.card-body p {
    text-align: center;
    font-weight: 500;
}

.product-row {
    margin-bottom: 24px;
}

.products-list {
    margin: 20px 0;
}

.form-group label {
    text-transform: capitalize;
}

.type-div p{
    font-weight: 500;
}